@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root{
    --ds-text_white: #ddd;
    --ds-bg: #2e3a46;
    --ds-bg-darker: #1e2d3b;
}

html {
    font-family: 'Roboto', sans-serif;
}

body{
    color: var(--ds-text_white);
    background-color: var(--ds-bg-darker);
}

/* Default Rules */
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Layout */
.container {
    margin: 0 auto;
    padding: 0 0.5rem;
    max-width: 1000px;
}

/* Header */
.main_header{
    padding: 0.5rem 1rem;
    background-color: var(--ds-bg);

    display: flex;
}

.logo_wrapper{
    width: 50px;
    aspect-ratio: 1/1;
}
.logo_wrapper > img{
    object-fit: cover;
    object-position: center;
}

.select.genre{
    font-size: 1rem;
    font-weight: bold;
    color: var(--ds-text_white);

    margin-left: auto;
    padding: 0 0.25rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 2px solid var(--ds-text_white);
}
/* Main */
.main_content .cards_list {
    padding: 1rem 0;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* Card */
.cards_list>.list_item {
    padding: 1.5rem;
    background-color: var(--ds-bg);

    text-align: center;
}

.card_wrapper .img_wrapper img {
    object-fit: cover;
    object-position: center;
}

.card_wrapper h3 {
    padding: 0.5rem;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.card_wrapper p {
    padding: 0.25rem;
    opacity: 0.6;
}